.NavBar_Main {
  height: 10vh;
  width: 98%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1001;
}
.NavBar_Division {
  width: 20%;
}
.NavBar_Search {
  width: 60%;
}
.pog {
  font-size: 25px !important;
  color: gray !important;
  cursor: pointer;
}
.nav_text {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans';
  padding: 2px 18px 2px 17px;
}
.nav_text_overlay {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans';
  padding: 20px 18px 2px 17px;
}
.nav_text_overlay:hover {
  font-size: 17px;
  color: rgb(209, 235, 13);
}
.overflow_overlay{
  overflow: auto;
  height: 400px;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0.5rem !important;
}

.profile ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

.profile ul li{
  margin: 5px 0;
}

.profile ul li:hover{
  background-color: rgba(237, 1, 86, 0.1) !important;
  cursor: pointer;
}