.module-profile {
  margin: 3% 0 3% 0.5%;
}

.createForm {
  display: block;
  margin: 2%;
}

.indv-form {
  margin-bottom: 2%;
}

.indv-form-elem {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

.formName {
  text-transform: capitalize;
  margin: 0 0 1.5% 0;
}

.form-item {
  width: 40%;
}

.names {
  width: 100%;
}

.names .grey {
  min-width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

@media (min-width: 1600px) {
  .indv-form-elem {
    width: 50%;
  }
}
